WcfClient/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarService" nillable="true" type="tns:CarService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarService" nillable="true" type="tns:ArrayOfCarService" />
  <xs:complexType name="CarService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarService" nillable="true" type="tns:CarService" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="ArrayOfServiceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceData" nillable="true" type="tns:ServiceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceData" nillable="true" type="tns:ArrayOfServiceData" />
  <xs:complexType name="ServiceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceData" nillable="true" type="tns:ServiceData" />
  <xs:complexType name="ArrayOfCarsFromSto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarsFromSto" nillable="true" type="tns:CarsFromSto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarsFromSto" nillable="true" type="tns:ArrayOfCarsFromSto" />
  <xs:complexType name="CarsFromSto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarsFromSto" nillable="true" type="tns:CarsFromSto" />
</xs:schema>