WcfClient/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53448/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53448/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53448/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:53448/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllCarServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarServices" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCarServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCarService_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarService" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCarService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertServiceToCS_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertServiceToCS" />
  </wsdl:message>
  <wsdl:message name="IService_InsertServiceToCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertServiceToCSResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCars" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddServicesFromSto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddServicesFromSto" />
  </wsdl:message>
  <wsdl:message name="IService_AddServicesFromSto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServicesFromStoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCarToService_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarToService" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCarToService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarToServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCar" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetServiceData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceData" />
  </wsdl:message>
  <wsdl:message name="IService_GetServiceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCarsFromSto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsFromSto" />
  </wsdl:message>
  <wsdl:message name="IService_GetCarsFromSto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsFromStoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertService_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertService" />
  </wsdl:message>
  <wsdl:message name="IService_InsertService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllCarServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllCarServices" message="tns:IService_GetAllCarServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllCarServicesResponse" message="tns:IService_GetAllCarServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCarService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertCarService" message="tns:IService_InsertCarService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertCarServiceResponse" message="tns:IService_InsertCarService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertServiceToCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertServiceToCS" message="tns:IService_InsertServiceToCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertServiceToCSResponse" message="tns:IService_InsertServiceToCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllCars" message="tns:IService_GetAllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllCarsResponse" message="tns:IService_GetAllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddServicesFromSto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddServicesFromSto" message="tns:IService_AddServicesFromSto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddServicesFromStoResponse" message="tns:IService_AddServicesFromSto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCarToService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertCarToService" message="tns:IService_InsertCarToService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertCarToServiceResponse" message="tns:IService_InsertCarToService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertCar" message="tns:IService_InsertCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertCarResponse" message="tns:IService_InsertCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetServiceData" message="tns:IService_GetServiceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetServiceDataResponse" message="tns:IService_GetServiceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsFromSto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCarsFromSto" message="tns:IService_GetCarsFromSto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCarsFromStoResponse" message="tns:IService_GetCarsFromSto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertService" message="tns:IService_InsertService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertServiceResponse" message="tns:IService_InsertService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCarServices">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllCarServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCarService">
      <soap:operation soapAction="http://tempuri.org/IService/InsertCarService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertServiceToCS">
      <soap:operation soapAction="http://tempuri.org/IService/InsertServiceToCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddServicesFromSto">
      <soap:operation soapAction="http://tempuri.org/IService/AddServicesFromSto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCarToService">
      <soap:operation soapAction="http://tempuri.org/IService/InsertCarToService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCar">
      <soap:operation soapAction="http://tempuri.org/IService/InsertCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceData">
      <soap:operation soapAction="http://tempuri.org/IService/GetServiceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsFromSto">
      <soap:operation soapAction="http://tempuri.org/IService/GetCarsFromSto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertService">
      <soap:operation soapAction="http://tempuri.org/IService/InsertService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:53448/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>